<%- include("partials/header") %>

<div class = "background-image-wrap"></div>

<header class = 'landing-header'>
	<h1>
		Welcome to Studio! 
	</h1>
	<div class = 'w-100 d-flex align-items-center justify-content-center'>
		<a href = "/campgrounds">View images</a>
	</div>
</header>


<%- include("partials/footer") %>