<%- include("./partials/headerSignIn") %>

<div class = "background-image-wrap"></div>

    <div class = "user-wrap">
            <h1>Log In!</h1>
            <form method = "POST", action="/login" class = "user-form-wrap">
                <input type = "text" name = "username" placeholder = "User Name">
                <input type = "password" name = "password" placeholder = "Password">
                <div class = "auth-button-wrap">
                    <button class = "btn btn-success">Log In!</button>
                </div>
            </form>
    </div>

<%- include("./partials/footer") %>